/* 1) Folders with a saved layout => bold + pointer */
.has-folder-layout .nav-folder-title-content {
    font-weight: bold;
    text-decoration: none !important;
    cursor: pointer;
  }
  
  /* 2) If Ctrl is held down, all folder items do bold+pointer on hover */
  .ctrl-active .nav-folder-title-content:hover {
    font-weight: bold;
    text-decoration: none !important;
    cursor: pointer;
  }
  