.folder-has-layout {
  text-decoration: underline !important;
}

/* 
  When the open key is active, everything is bold.
  If a folder has layout, it’s also underlined, so users can see it has a layout.json.
*/
.nav-file-title.is-workspace-opener-on-hover,
.nav-folder-title.is-workspace-opener-on-hover {
  font-weight: bold !important;
  cursor: pointer !important;
}
